<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Max Ladner">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Max Ladner's Professional Website">
        <link rel="stylesheet" href="../static/style.css"> 
        <script src="../static/script.js" defer></script>
        <title>Max Ladner</title>
    </head>
    <body style="font-family: Arial" onload="addYear()">
        <header>
            <h1 id="webname">Max Ladner</h1>
            <nav>
                <a href="../index.html">HOME</a> 
                <a href="cv.html">CV</a> 
                <a href="contact.html">CONTACT ME</a> 
                <a href="fun.html">FOR FUN</a> 
            </nav>
        </header>
        <div class="main">
            <br>
            <form>
                <label for="name">Name:</label><br>
                <input type="text" id="name" required><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" required><br>
                <label for="description">Description:</label><br>
                <input type="text" id="description" required><br>
                <button type="submit">Submit</button>
            </form>
            <div id="validation-message" class="validation-message" 
                style="display:none;"></div>
            <br>
            <table>
                <tr>
                    <th> Contact Method </th>
                    <th> Description </th>
                </tr>
                <tr>
                    <td> Email </td>
                    <td> ladnerm78@gmail.com </td>
                </tr>
                <tr>
                    <td> LinkedIn </td>
                    <td> <a href="https://www.linkedin.com/in/max-ladner-1a6766189/">
                            maxladner</a></td>
                </tr>
            </table>
            <br>
        </div>
        <hr>
        <footer>
            &copy; designed and coded by Max Ladner
            <p id="getYear"></p>
        </footer>
        
    </body>
    
</html>
