<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Max Ladner">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Max Ladner's Professional Website">
        <link rel="stylesheet" href="../static/style.css"> 
        <title>Max Ladner</title>
    </head>
    <body style="font-family: Arial">
        <header>
            <h1 id="webname">Max Ladner</h1>
            <nav>
                <a href="../index.html">HOME</a> 
                <a href="cv.html">CV</a> 
                <a href="contact.html">CONTACT ME</a> 
                <a href="fun.html">FOR FUN</a> 
            </nav>
        </header>
        <div class="main">
            <h2>Things I love to do for fun</h2>
            <ul>
                <li>Play soccer</li>
                <li>Workout</li>
                <li>Pingpong</li>
                <li>Play Fifa</li>
            </ul>
        </div>
        <hr>
        <footer>
            &copy; 2025 designed and coded by Max Ladner
        </footer>
        
    </body>
    
</html>

