<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Max Ladner">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Max Ladner's Professional Website">
        <link rel="stylesheet" href="../static/style.css"> 
        <script src="../static/script.js" defer></script>
        <title>Max Ladner</title>
    </head>
    <body style="font-family: Arial">
        <header>
            <h1 id="webname">Max Ladner</h1>
            <nav>
                <a href="../index.html">HOME</a> 
                <a href="cv.html">CV</a> 
                <a href="contact.html">CONTACT ME</a> 
                <a href="fun.html">FOR FUN</a> 
            </nav>
        </header>
        <div class="mainLayout">
            <div id="item1">
                <h2>Things I love to do for fun</h2>
                <ul id="my-list">
                    <li>Play soccer</li>
                    <li>Workout</li>
                    <li>Pingpong</li>
                    <li>Play Fifa</li>
                </ul>
            </div>
            <div id="item2">
                <img src="../static/soccer ball.png" alt="soccer ball" class="funIMG"> 
            </div>
            <div id="item3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jNQXAC9IVRw?si=5W2V6znwt83m_F20" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" ></iframe>
            </div>
            <div id="item4">
                <div class="container">
                    <h2>Need some advice?</h2> 
                    <p> click to view advice</p>
                    <button id="advice_button"  type="button" onclick="show_advice()">Get Advice</button>
                    <div id="quote"></div>
                </div>
                
            </div>
            <!--<button id="show-button" onclick="showList()">Click to see...</button>-->
        </div>
        <hr>
        <footer>
            &copy; designed and coded by Max Ladner
            <p id="getYear"></p>
        </footer>
        
    </body>
    
</html>

