* { 
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 302;
    font-style: normal;
    padding: 5px;
    margin: 5px;
}

#my-list {
    display: none;
}

#webname {
    background-color: #7DF279;
}

a {
    text-decoration: none;
    color: #16BEF5;
    margin-right: 15px;
}

#cv-table {
    padding: 12px;
    background-color: "white";
    color: "black";
    width: 200px;
    width: fit-content; 
    border: 1px solid black;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
    width: 200px;
}

table tr:nth-child(odd) {
    background-color: #7DF279;
}

