* { 
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 302;
    font-style: normal;
    padding: 5px;
    margin: 5px;
}

.container {
    border-radius: 100%; 
    background-color: gray;
    display: inline-block;
    border-radius: 10%; 
    box-shadow: 5px 5px;    
}

#advice_button{
    background: transparent;
    color: #2ecc71; 
    border: 2px solid #2ecc71;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}
#advice_button:hover {
    color: white;
    background: #2ecc71;
}

/*#my-list {
    display: none;
}*/

.funIMG {
    border-radius: 100%;
}


#webname {
    background-color: #7DF279;
}

a {
    text-decoration: none;
    color: #16BEF5;
    margin-right: 15px;
}

#cv-table {
    padding: 12px;
    background-color: "white";
    color: "black";
    width: 200px;
    width: fit-content; 
    border: 1px solid black;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
    width: 200px;
}

table tr:nth-child(odd) {
    background-color: #7DF279;
}

#item1, #item2, #item3, #item4 {
    flex: 1 1 calc(50% - 20px);
}

.mainLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    margin: auto;             
}
