<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Max Ladner">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Max Ladner's Professional Website">
        <title>Max Ladner</title>
    </head>
    <body style="font-family: Arial">
        <header>
            <h1>Max Ladner</h1>
            <nav>
                <a href="../index.html">HOME</a> 
                <a href="cv.html">CV</a> 
                <a href="contact.html">CONTACT ME</a> 
                <a href="fun.html">FOR FUN</a> 
            </nav>
        </header>
        <div class="main">
            <br>
            <form>
                <label for="name">Name:</label><br>
                <input type="text" id="name"><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email"><br>
                <label for="description">Description:</label><br>
                <input type="text" id="description"><br>
            </form>
            <br>
            <table>
                <tr>
                    <th> Contact Method </th>
                    <th> Description </th>
                </tr>
                <tr>
                    <td> Email </td>
                    <td> ladnerm78@gmail.com </td>
                </tr>
                <tr>
                    <td> LinkedIn </td>
                    <td> <a href="https://www.linkedin.com/in/max-ladner-1a6766189/">
                            maxladner</a></td>
                </tr>
            </table>
            <br>
        </div>
        <hr>
        <footer>
            &copy; 2025 designed and coded by Max Ladner
        </footer>
        
    </body>
    
</html>
