<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Max Ladner">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Max Ladner's Professional Website">
        <title>Max Ladner</title>
    </head>
    <body style="font-family: Arial">
        <header>
            <h1>Max Ladner</h1>
            <nav>
                <a href="../index.html">HOME</a> 
                <a href="cv.html">CV</a> 
                <a href="contact.html">CONTACT ME</a> 
                <a href="fun.html">FOR FUN</a> 
            </nav>
        </header>
        <div class="main">
            <h2>Curriculum Vitae</h2>
            <table>
                <tr>
                    <th> Name </th>
                    <th> Description </th>
                </tr>
                <tr>
                    <td> Carnegie Mellon University </td>
                    <td> Working towards a BS. in Information Systems </td>
                </tr>
                <tr>
                    <td> Resaurant Support Staff </td>
                    <td> Supported the front-of-house staff at WaterWorks
                    in Winooski, VT</td>
                </tr>
            </table>
            <br>
            <a href="../static/Max_s_Resume copy.pdf">resume.pdf</a>

        </div>
        <hr>
        <footer>
            &copy; 2025 designed and coded by Max Ladner
        </footer>
        
    </body>
    
</html>


